/Examples/project/DEMO/PreviewIconData/
Examples/project/x64/Debug/
Examples/project/x64/Debug20*/
Examples/project/x64/Release/
Examples/project/x64/Release20*/
Examples/project/DLL/SwigWrapper/VisualStudioSolution/Ranger3SwigModule_cs/*/bin/
Examples/project/DLL/SwigWrapper/VisualStudioSolution/Ranger3SwigModule_cs/*/obj/
Examples/project/DLL/SwigWrapper/VisualStudioSolution/Ranger3SwigModule_cs/SwigRanger3.Net7/obj/
Examples/project/DLL/SwigWrapper/VisualStudioSolution/Ranger3SwigModule_cs/SwigRanger3.Net7/bin/
Examples/project/DLL/SwigWrapper/VisualStudioSolution/Ranger3SwigModule_cpp/x64/


*.zip
*.VC.db
*.db
*.opendb
*.exp
*.pdb
*.obj
*.tlog
*.lastbuildstate
*.idb
*.ilk
*.log
*.tmp
!README.txt
Examples/project/x64/Debug/*.ilk
debug_unCalibrate.xml
*/continuous_saved_buffers/
*/*.tlog/
Examples/project/.vs/
*/.vs/
Examples/project/SampleContinuousAcquisition/continuous_saved_buffers/
download.py
Examples/project/*/x64/
Examples/project/*/*/x64/
Examples/project/x64/*/GenIRanger.*
Examples/project/x64/*/SampleApiDll.*
Examples/project/x64/*/SampleCalibrationWrapper.*
Examples/project/x64/*/SampleCommon.*
Examples/project/x64/*/SampleApiDllTestProject.*
Examples/project/x64/*/SampleApiDllCSharpWrapper.*
Examples/project/x64/*/SampleApiDllTestMFC.*
Examples/project/x64/*/*.exe
Examples/project/x64/*/SampleChunkData.*
Examples/project/x64/*/SampleContinuousAcquisition.*
Examples/project/x64/*/SampleEventLogging.*
Examples/project/x64/*/SampleExportParameters.*
Examples/project/x64/*/SampleForceIP.*
Examples/project/x64/*/SampleImportParameters.*
Examples/project/x64/*/SampleMultiCamera.*
Examples/project/x64/*/SampleSaveRangeBuffer.*
Examples/project/x64/*/SampleSaveSensorBuffer.*
Examples/project/x64/*/SampleApiDllCSharpWpfDemo.*
Examples/project/x64/*/SampleApiDllUnitTest.*
Examples/project/x64/*/SampleApiDllUnitTest_devOnly.*
Examples/project/x64/*/*.txt

*/ipch/
Examples/project/ipch/
Extra/
documents/API_help/
*.ipdb
*.iobj
Examples/project/SampleApiDllCSharpConsole/bin/
Examples/project/SampleApiDllCSharpConsole/obj/
*.metagen
*.manifest

Examples/project/SampleApiDllCSharpWpfDemo/bin
Examples/project/SampleApiDllCSharpWpfDemo/obj
Examples/project/SampleApiDllCSharpWpfDemo/n
Examples/project/SampleApiDllCSharpWinFrom/bin/
Examples/project/SampleApiDllCSharpWinFrom/obj/

Examples/project/x64/Debug/SampleChunkData.lib
Examples/project/x64/Debug/SampleContinuousAcquisition.lib
Examples/project/x64/Debug/SampleEventLogging.lib
Examples/project/x64/Debug/SampleExportParameters.lib
Examples/project/x64/Debug/SampleForceIP.lib
Examples/project/x64/Debug/SampleImportParameters.lib
Examples/project/x64/Debug/SampleMultiCamera.lib
Examples/project/x64/Debug/SampleSaveRangeBuffer.lib
Examples/project/x64/Debug/SampleSaveSensorBuffer.lib


Examples/project/x64/*/tempFile_UnitTest_param.csv

Ranger3SingleProject/Dependencies/
Ranger3SingleProject/project/Dependencies/
Ranger3SingleProject/project/x64/
Ranger3SingleProject/project/.vs/

~$wToReleaseProject.docx
~WRL0107.tmp
Examples/project/SampleApiDllTestProject/031testCode.cpp

!Examples/project/123/alex_191.dat
!Examples/project/123/alex_191.xml
Examples/project/*/*/x64/

Examples/project/DEMO/Demo_Ranger3_CSharp/obj/
Examples/project/DEMO/Demo_Ranger3_CSharp/bin/
Examples/project/*/*/obj/
Examples/project/*/*/bin/

Examples/project/DLL_Project.opensdf
Examples/project/DLL_Project.sdf
Examples/project/DLL_Project.v12.suo
Examples/project/DEMO/Demo_Ranger3_CSharp/obj/
~$工程说明.pptx

.idea/
cmake-build-debug/
build/
.kdev4/
GenICam-SDK.kdev4

Examples/project/scatter/

!/documents/DoxyCS
!/documents/DoxyCPP

Examples/project/x64/Debug/SampleApiDll_cs.dll
Examples/project/x64/Debug/SampleApiDll_cs.lib
Examples/project/x64/Release/SampleApiDll_cs.dll
Examples/project/x64/Release/SampleApiDll_cs.lib

Examples/project/x64/Debug/SICK_DLL_WRAPPER.dll
Examples/project/x64/Debug/SICK_DLL_WRAPPER.lib
Examples/project/x64/Release/SICK_DLL_WRAPPER.dll
Examples/project/x64/Release/SICK_DLL_WRAPPER.lib

Examples/project/Ranger3_CPP.opensdf

Examples/project/x64/*/*/*.txt
ReleaseBatFiles/*.txt
*.exe.config
ReleaseBatFiles/make_exe/Ranger3Studio/
ReleaseBatFiles/make_exe/tmp/
ReleaseBatFiles/make_exe/Make_EXE-cache/
ReleaseBatFiles/make_exe/Make_EXE-SetupFiles/
ReleaseBatFiles/vs_log/*.txt
ReleaseBatFiles/make_exe/SICK_GENICAM_SDK-SetupFiles/
ReleaseBatFiles/make_exe/SICK_GENICAM_SDK-cache/
Examples/project/x64/*/Demo_Console.*

Examples/project/x64/*/SampleApiDll-Test.*

Examples/project/x64/*/SampleApiDllCSharpWinFormCore7.0.*
Examples/project/x64/*/SampleApiDllCSharpWrapperDotNET6.*


