@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    src: url('OpenSans-Bold.ttf');
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #687CA4;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

#projectname {
    font-family: 'Open Sans', sans-serif;
}

div.fragment,
pre.fragment {
    font-size: 100%; /* By default, code fragments are enlarged */
    max-width: 90ch; /* Limit width of code fragments */
}

blockquote {
    max-width: 90ch; /* Limit width of quotes */
    padding-top: 1px;
    padding-bottom: 1px;
}

blockquote p {
    margin: 1em 0 1em 0;
}

/* Center align images. */
.image{
    text-align: center;
}
.caption{
    margin-top: 6px;
    text-align: center;
}

table.bytelayout {
    border: 1px;
    border-collapse: collapse;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    padding: 0px;
    spacing: 0px;
}

td.noborder{
    border: 0px;
}

td.continuing{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 0px;
    text-align: left;
    padding-left: 15px;
}

/* Shorter line length for enhanced readability */
div.contents {
    max-width: 800px;
    margin: 0 auto;
}

/* Give function prototype boxes a flatter look */
.memproto, dl.reflist dt {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #A8B8D9;
    background-image: none;
    box-shadow: none;
}

/* Give documentation boxes a flatter look */
.memdoc, dl.reflist dd {
    border-width: 0;
    background-image: none;
    box-shadow: none;
}

/* Flatter look of navigation bar, with SICK colors */
.tabs, .tabs2, .tabs3 {
  background-image: none;
  background-color: #007CC1;
  font-family: 'Segoe UI Semibold', 'Segoe UI Standard', 'Segoe UI';
}

.tablist li {
  background-image: none;
  background-color: #3F9FD2;
  margin: 3px;
  line-height: 30px;
}

.tablist a {
  background-image: none;
  color: #fff;
  text-transform: uppercase;
  text-shadow: none;
}

.tablist a:hover {
  background-image: none;
  background-color: rgba(255, 255,255, 0.1);
  text-shadow: none;
}

.tablist li.current a {
  background-image: none;
  background-color: #F39100;
  color: rgb(35, 75, 116);
  text-shadow: none;
}

/** Flatter look of the "breadcrumb bar" used for namespaces */
.navpath ul {
    background-image: none;
    background-color: #3F9FD2;
    border: none;
    padding-left: 10px;
}
.navpath li.navelem {
    background-image: none;
    padding-left: 0px;
}
.navpath li.navelem a {
    text-shadow: none;
    color: #fff;
    display: inline-block;
}
.navpath li.navelem a:hover {
    color: #ccc;
}

/* Insert a chevron as separator between namespaces, instead of background image */
.navpath li.navelem::after {
    content: "›";
    color: #fff;
    display: inline-block;
    padding-left: 1em;
}

/** Prepend a copyright text before the "generated by doxygen" text */
address.footer small::before {
    content: '\0000a9  SICK, ';
}
